<%-include('header')%>
<a href="https://turr.edu.hu" target="_blank">
    <img src="../assets/img/sarga.png" alt="sarga" title="ah íres sárga">
</a>

<div class="flexRowCenter login">
    <div class="blur fullWidth fullHeight flexRowCenter">
    <div class="fullWidth fullHeight flexColCenter form">
        <h3 class="text-light ">Csatlakozz egy játékhoz</h3>
        <form action="" method="">
            <div class="row gy-3 overflow-hidden">
                <div class="fullWidth ">
                    <label for="rooms" class="text-light mb-3">Felhasználónév</label>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control border-only-input" name="username" id="username" placeholder="Felhasználónév">
                    </div>
                </div>
                <label for="rooms" class="text-light">Válassz szobát:</label>
                <div class="form-floating mb-3">
                    <select class="form-select border-only-input" id="rooms" aria-label="">
                        <option value="" selected>Join to an existing room</option>
                    </select>
                </div>
                <div class="">
                    <div class="d-grid">
                        <input class="btn btn-primary mb-3 sendAuth" type="submit" value="Login">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="fullWidth fullHeight flexColCenter pics">
        <h3 class="text-light">Üdv Harvey quiz játékában</h3>
        <span class="blackPeople">
            <!--We don't like em-->
        </span>
        <p class="text-light fullWidth slogen">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque aspernatur fuga vitae laborum. Omnis voluptatibus inventore rem perferendis qui quibusdam voluptatum labore, dolorem totam corrupti ea, quo et reiciendis quas?

            
        </p>
    </div>
    </div>

</div>

<%-include('footer')%>