
<%-include('header')%>

<a href="https://turr.edu.hu" target="_blank">
    <img src="/assets/img/sarga.png" alt="sarga" title="ah íres sárga">
</a>

<div class="fullPage fullWidth fullHeight flexColCenter quizsarga">
    <!--<h1>xdd</h1>
    <p>User: <%= user %></p>
    <p>Room: <%= room %></p>-->

    <div class="base flexColCenter">
        <div class="questionrow formsMolding flexColCenter">
            <h1 class="question">ciganyok vagyunk?</h1>
        </div>
        <div class="formz flexRowCenter">
            <div class="answerInput flexColCenter formsMolding">
                <h3 class="text-light">töpp</h3>
                <div class="fullWidth  text-center">
                    
                    <div class="form-floating flexRowCenter fullWidth mb-3">
                        <input type="text" class="form-control border-only-input SZEX" name="answer" id="answer" placeholder="Válasz">
                        <button type="submit" class="btn btn-primary fullHeight kuras ">Gömb</button> 
                    </div>

                        
                </div>
            </div>
            <div class="playerList flexColCenter formsMolding" >
                <h3 class="text-light">Kőrágó</h3>
            </div>
        </div>
    </div>
</div>

    
<%-include('footer')%>