html, body{
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #242424 0%, black 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
img{
    display: none;
}

.fullWidth{
    width: 100%;
}
.fullHeight{
    height: 100%;
}
.flexColCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.flexColStart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.flexRowStart{
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-items: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.flexRowCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.login{
    height: 80%;
    width: 70%;
    background-image: url(../img/LoginBG.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: rgba(2, 32, 97, 0.7) 0px 20px 70px 5px;
    border: 1px solid rgb(2, 32, 97);
    

}
.blur{
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    
}
.form{
    row-gap: 5rem;
    padding: 2rem;
}
.blackPeople{
    background-image: url(../img/blackPeople.jpg);
    background-position: center ;
    background-size: cover;
    border-radius: 20px;
    width: 18rem;
    height: 18rem;
}
.pics{
    padding: 2rem;
    row-gap: 2rem;
    text-align: justify;
}
.border-only-input {
    background-color: transparent; 
    border: 2px solid #ffffff; 
    color: #ffffff; 
    border-radius: 8px; 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

.border-only-input:focus {
    background-color: transparent; 
    outline: none; 
    border-color: #007bff; 
    box-shadow: 0 0 5px #007bff; 
    color: #ffffff; 
}

.border-only-input::placeholder {
    color: #aaaaaa; 
    opacity: 1; 
}
.slogen{
    padding:0 5rem 0 5rem;
}
@media screen and (max-width: 1000px){
    .login{
        display: none;

    }
    .quizsarga{
        display: none;
    }

    img{
        display: block;
        width: 50rem;
        height: 50rem;
    }
}

.formz{
    width: 100%;
    height: 100%;
    column-gap: 5rem;
}

.base{
    width: 80%;
    height: 80%;
    padding: 1rem;
    row-gap: 5rem;
}


.formsMolding{
    background-color: #3f3f46;
    border-radius: 15px;
    background: rgba(63, 63, 70, 0.40);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #3f3f46;
}

.question {     
    font-size: 2.5rem; /* A kérdés mérete */
    color: #ffffff; /* Szöveg színe */
    position: relative; /* Hozz létre réteg a háttérhez */
    text-align: center;     /* Glow hatás */
    text-shadow:         0 0 10px rgba(255, 255, 255, 0.5), /* Lágy közeli fény */0 0 20px rgba(255, 255, 255, 0.4), /* Halvány távolabbi fény */0 0 40px rgba(255, 255, 255, 0.2); /* Nagyon halvány szélesebb fény */ }

.questionrow{
    width: 100%;
    height: 20%;
    text-align: center;
    color: #f4f4f5;
}

.answerInput{
    width: 70%;
    height: 100%;
    row-gap: 1rem;
}

.playerList{
    width: 30%;
    height: 100%;
}

.fullPage{
    background-image: url(../img/quizbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.SZEX{
    
    width: 80%;
    height: 3rem;
    margin-right: 1rem;
}
.kuras{
    height: 3.6499999999rem;
}


.countdownTimer {
    text-align: center;
    margin-top: 20px;
}

#timeRemaining {
    font-size: 16px;
    /*font-weight: bold;*/
    color: #ffa500; /* Narancssárga figyelemfelkeltés */
    text-align: center;
    margin-top: 10px;
}
.smallBox{
    width: 12rem;
    height: 12rem;
    margin-bottom: 3rem;
}
.infos{
    column-gap: 5rem;
    width:78.5%;
}